<meta name="description" content="<%= htmlWebpackPlugin.options.site.description %>" data-react-helmet="true" />
<title>
    <%= htmlWebpackPlugin.options.site.title %>
</title>

<!-- Open Graph Tags -->
<meta property="fb:app_id" content="<%= htmlWebpackPlugin.options.site.fb_app_id %>" data-react-helmet="true" />
<meta property="og:title" content="<%= htmlWebpackPlugin.options.site.title %>" data-react-helmet="true" />
<meta property="og:description" content="<%= htmlWebpackPlugin.options.site.description %>" data-react-helmet="true" />
<meta property="og:image" content="<%= htmlWebpackPlugin.options.site.images.hero %>" data-react-helmet="true" />

<!-- Twitter Card Tags -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@tunga_io" />
<meta name="twitter:title" content="<%= htmlWebpackPlugin.options.site.title %>" data-react-helmet="true" />
<meta name="twitter:description" content="<%= htmlWebpackPlugin.options.site.description %>" data-react-helmet="true" />
<meta name="twitter:image" content="<%= htmlWebpackPlugin.options.site.images.hero %>" data-react-helmet="true" />
